.cart-header{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
    @media(max-width: 1199px){
        order: 3;
    }
    @media(max-width: 768px){
        margin-left: 100px;
    }
    @media(max-width: 499px){
        margin-left: 0px;
    }
    &__icon{
        position: relative;

    }
    &__count{
        position: absolute;
        background: #FFC85E;
        border: 3px solid #FFFFFF;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: -10px;
    }
    &__main{
        display: flex;
        flex-direction: column;
        @media(max-width: 998px){
            display: none;
        }
    }
    &__name{
        color: $gray;
            font-weight: 300;
            font-size: 12px;
            line-height: 150%;
    }
    &__price{
        font-weight: 600;
        line-height: 150%;
        color: $black;
    }
}